.footer {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    position: fixed;
    bottom: 0;

    z-index: 1000; // Assurez-vous que le footer est au-dessus des autres éléments
}

.footer a {
    color: #fff;
    margin: 0 1rem;
    text-decoration: none;
    transition: color 0.3s;

    &:hover {
        color: #007bff;
    }
}

.footer footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}